.cms-edit-form .elementalarea .inlinelink {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
  max-width : 860px;
  flex: 1 0 100%;
  border: none;
  border-radius: 2px;/* with browser support outline will follow this */
  outline: 1px solid #dbe0ea;
  padding: 1rem;
  margin-top: 2rem;
}

.cms-edit-form .elementalarea .inlinelink legend {
    background: transparent;
    font-size: 1em;
    margin: 0;
    padding: 1em 0 0 0;
}

.cms-edit-form .inlinelink .uploadfield-item {
  margin-bottom : 1rem;
  border: 1px solid #ced5e1;
}

/**
 * JS adds this class to hide fields based on fireSignal
 */
.inlinelinkcomposite .signal-hidden {
  display : none !important;
}
